<h1 class="header-bk">Dog Owners</h1>

<div class="row">
  <div class="col-md-6 pull-left"> 
    <%= link_to ' Create New Owner', new_owner_path, class: "pull-left btn btn-default btn-xs fa fa-user-plus" %>
  </div> <!-- col-md-6 --> 

  <!-- Search bar-->
  <div class="col-md-6">
  <div class="pull-right">       
      <%= form_tag("/owners", method: "get", role: "search", class: "navbar-form navbar-left") do %>
        <div class ="form-group">
          <%= text_field_tag(:search, nil, placeholder: "Owner Last Name", class: "form-control input-sm") %>
        </div>
      <%= submit_tag("Search for an Owner", class: "btn btn-default btn-xs") %>
      <% end %> <!--ends search bar-->
      <%= link_to 'Show All', owners_path, class: "btn btn-default btn-xs" %>
  </div> <!--pull-right-->
  </div> <!-- col-md-6 -->

</div> <!-- closes row -->



<table class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Dogs</th>
      <th>Phone</th>
      <th>City</th>
      <th>Emergency Contact</th>
      <th>Em. Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.order("last_name").each do |owner| %>
        <td>
        <%= link_to (image_tag owner.avatar.url(:tiny), class: "img-responsive"), owner %>
        <br/>
        <%= link_to owner.last_first, owner %></td>
        <td>
          <ul>
          <% owner.dogs.order("name").each do |dog| %>
          <li><%= link_to dog.name, dog %></li>
          <% end %>
          </ul>
        </td>
        <td><%= owner.phone %></td>
        <td><%= owner.city %></td>
        <td><%= owner.emerg_contact %></td>
        <td><%= owner.emerg_phone %></td>
        <td><%= link_to ' View', owner, class: "btn btn-default btn-xs fa fa-binoculars" %></td>
        <td><%= link_to ' Edit', edit_owner_path(owner), class: "btn btn-default btn-xs fa fa-pencil" %></td>
        <td><%= link_to ' Delete', owner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs fa fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
