<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @owner.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @owner.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @owner.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @owner.zip %>
</p>

<p>
  <strong>Signed waiver:</strong>
  <%= @owner.signed_waiver %>
</p>

<p>
  <strong>Emerg contact:</strong>
  <%= @owner.emerg_contact %>
</p>

<p>
  <strong>Emerg phone:</strong>
  <%= @owner.emerg_phone %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
