<p id="notice"><%= notice %></p>
<h1>Owner Profile</h1>
<p>&nbsp;</p>
<p>
  <strong>Name:</strong>
  <%= @owner.first_last %>
</p>

<p>
  <strong>Dogs:</strong>
  <ul>
    <% @owner.dogs.order("name").each do |x| %>
    <li> <%= x.name %> </li>
    <% end %>
  </ul>
  </p>


<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address_block %>
</p>

<p>
  <strong>Signed waiver:</strong>
  <%= @owner.signed_waiver %>
</p>

<p>
  <strong>Emerg contact:</strong>
  <%= @owner.emerg_contact %>
</p>

<p>
  <strong>Emerg phone:</strong>
  <%= @owner.emerg_phone %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
