<h1>Owner Profile</h1>
<p>&nbsp;</p>
<h2>
  <%= @owner.first_last %>'s dogs
</h2>
<p>&nbsp;</p>

<div class="row">

<% @owner.dogs.order("name").each do |dog| %>
<div class="col-md-3">

  <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to dog.name, dog %></h3>
    </div>

    <div class="panel-body">
      <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
    </div>
    <div class="panel-footer">
    <%#<%= dog.in_daycare %>
    <%= link_to ' ', dog, class: "fa fa-binoculars" %>
    <%= link_to ' ', edit_dog_path(dog), class: "fa fa-pencil" %>
    <%= link_to ' ', dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
    </div><!-- closes panel-footer -->
  </div><!-- closes panel -->

</div><!-- closes col-md-3 -->

<% end %> <!-- ends loop -->
</div> <!-- ends row -->


<h2>Contact <%= @owner.first_name %></h2>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address_block %>
</p>

<p>
  <strong>Signed waiver:</strong>
  <%= @owner.signed_waiver %>
</p>

<p>
  <strong>Emerg contact:</strong>
  <%= @owner.emerg_contact %>
</p>

<p>
  <strong>Emerg phone:</strong>
  <%= @owner.emerg_phone %>
</p>

<%= link_to 'Edit Owner', edit_owner_path(@owner), class: "btn btn-default btn-xs" %> 
<%= link_to 'Back to All Owners', owners_path, class: "btn btn-default btn-xs" %>  <%= link_to 'Create New Dog', new_dog_path, class: "btn btn-success btn-xs" %>
