<h1 class="header-bk header-bk-dogs">Canine Clients</h1>

<div class="row">
  <div class="col-md-6"> 
    <%= link_to ' Create New Dog', new_dog_path, class: "createbutton btn btn-default btn-xs fa fa-plus" %>
  </div> <!-- col-md-6 -->

  <!-- Search bar-->
  <div class="col-md-6">
  <div class="pull-right">       
      <%= form_tag("/dogs", method: "get", role: "search", class: "navbar-form navbar-left") do %>
        <div class ="form-group">
          <%= text_field_tag(:search, nil, placeholder: "Dog's Name", class: "form-control input-sm") %>
        </div>
      <%= submit_tag("Search for a Dog", class: "btn btn-default btn-xs") %>
      <% end %> <!--ends search bar-->
      <%= link_to 'Show All', dogs_path, class: "btn btn-default btn-xs" %>
  </div> <!--pull-right-->
  </div> <!-- col-md-6 -->
  
</div> <!-- closes row -->

<!-- dog panels that link to modals -->
<div class="row">
<% @dogs.order("name").each do |dog| %>
<div class="col-md-3">
 <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#" data-toggle="modal" data-target="#myModal_<%= dog.id%>"><%= dog.name_ownerlast %></a></h3>
    </div><!--panel-heading-->

    <div class="panel-body">
    <p><a href="#" data-toggle="modal" data-target="#myModal_<%= dog.id%>">
     <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %></a></p>
    <%#<%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
    </div> <!-- panel body -->

    <div class="panel-footer">
    <!-- Check in/out functionality -->
         <%= form_for(dog, url: dog_path(dog), :html => {class: "form-inline"}) do |f| %>
           <% if dog .in_daycare %>
             <%= f.hidden_field :in_daycare, :value => false %>
             <%= f.submit "Checked In", class: "btn btn-success btn-xs" %>
           <% else %>
             <%= f.hidden_field :in_daycare, :value => true %>
             <%= f.submit "Checked Out", class: "btn btn-default btn-xs" %>
           <% end %>  <!-- if -->
         <% end %> <!-- do -->
    </div><!-- closes panel-footer -->
  </div><!-- closes panel -->

</div><!-- closes col-md-3 -->

<!-- Modal -->
    <div class="modal fade" id="myModal_<%= dog.id%>" tabinde="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= dog.name_ownerlast %></h4>
          </div> <!-- modal header -->
          <div class="modal-body">
            <center><%= image_tag dog.avatar.url(:medium), class: "img-responsive" %></center>

            <div class="row">
            <div style="margin: 0 auto; width: 300px;">
    
            <p>&nbsp;</p>
              <p>
                <strong>Name:</strong>
                <%= dog.name_ownerlast %>
              </p>
              <p>
                <strong>Breed:</strong>
                <%= dog.breed.name %>
              </p>
              <p>
                <strong>Birthday:</strong>
                <%= dog.birth_date.stamp_like("May 1, 2011") %>
              </p>
              <p>
                <strong>Owner:</strong>
                <%= link_to dog.owner.first_last, owner_path(dog.owner_id) %> (<%= dog.owner.phone %>)
              </p>
              <p>
                <strong>Vet:</strong>
                <%= link_to dog.vet.name, vet_path(dog.vet_id) %> (<%= dog.vet.phone %>)
              </p>
              <p>
                <strong>Check-in Status:</strong>
              <!-- Check in/out functionality -->
                 <%= form_for(dog, url: dog_path(dog), :html => {class: "form-inline"}) do |f| %>
                   <% if dog .in_daycare %>
                     <%= f.hidden_field :in_daycare, :value => false %>
                     <%= f.submit "Checked In", class: "btn btn-success btn-xs" %>
                   <% else %>
                     <%= f.hidden_field :in_daycare, :value => true %>
                     <%= f.submit "Checked Out", class: "btn btn-default btn-xs" %>
                   <% end %>  <!-- if -->
                 <% end %> <!-- do -->
                 </p>

              </div> <!-- div style -->
            </div><!--closes row-->
          </div> <!-- modal body -->

          <div class="modal-footer">
            <%= link_to ' Edit', edit_dog_path(dog), class: "btn btn-default btn-xs fa fa-pencil" %> 
            <%= link_to ' All Dogs', dogs_path, class: "btn btn-default btn-xs fa fa-th" %>
            <%= link_to " Owner", owner_path(dog.owner_id), class: "btn btn-default btn-xs fa fa-user"  %>
            <%= link_to ' New Dog', new_dog_path, class: "btn btn-default btn-xs fa fa-plus" %>
            <%= link_to ' Delete', dog, method: :delete, data: { confirm: 'Are you sure you want to delete this dog? There is no undo.' }, class: "btn btn-default btn-xs fa fa-trash" %>
          </div><!-- modal footer -->
        </div> <!-- modal content -->
      </div> <!-- modal dialogue -->
    </div> <!-- modal fade -->

<% end %> <!-- ends loop -->

</div> <!-- ends row -->


