<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Birthday</th>
      <th>Owner</th>
      <th>Vet</th>
      <th>In Daycare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.breed.name %></td>
        <td><%= dog.birth_date %></td>
        <td><%= dog.owner.first_last %></td>
        <td><%= dog.vet.name %></td>
        <td><%= dog.in_daycare %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
