<h1>Canine Clients</h1>

<div class="row">
  <div class="col-md-6"> 
    <%= link_to ' Create New Dog', new_dog_path, class: "createbutton btn btn-default btn-xs fa fa-plus" %>
  </div> <!-- col-md-6 -->

  <!-- Search bar-->
  <div class="col-md-6">
  <div class="float-right">       
      <%= form_tag("/dogs", method: "get", role: "search", class: "navbar-form navbar-left") do %>
        <div class ="form-group">
          <%= text_field_tag(:search, nil, placeholder: "Dog's Name", class: "form-control input-sm") %>
        </div>
      <%= submit_tag("Search for a Dog", class: "btn btn-default btn-xs") %>
      <% end %> <!--ends search bar-->
      <%= link_to 'Show All', dogs_path, class: "btn btn-default btn-xs" %>
  </div> <!--float-right-->
  </div> <!-- col-md-6 -->
  
</div> <!-- closes row -->

<div class="row">

<% @dogs.order("name").each do |dog| %>

<div class="col-md-3">
<%# this is how we made the whole div a link: <a href= dogs/<%= dog.id %> 

 <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to dog.name_ownerlast, dog %></h3>
    </div>

    <div class="panel-body">
    <%= link_to (image_tag dog.avatar.url(:medium), class: "img-responsive"), dog %>
    <%#<%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
    </div>
    <div class="panel-footer">
    <!-- Check in/out functionality -->
         <%= form_for(dog, url: dog_path(dog), :html => {class: "form-inline"}) do |f| %>
           <% if dog .in_daycare %>
             <%= f.hidden_field :in_daycare, :value => false %>
             <%= f.submit "Checked In", class: "btn btn-success btn-xs" %>
           <% else %>
             <%= f.hidden_field :in_daycare, :value => true %>
             <%= f.submit "Checked Out", class: "btn btn-default btn-xs" %>
           <% end %>  <!-- if -->
         <% end %> <!-- do -->
      
    </div><!-- closes panel-footer -->
  </div><!-- closes panel -->

</div><!-- closes col-md-3 -->

<% end %> <!-- ends loop -->

</div> <!-- ends row -->


