<p id="notice"><%= notice %></p>
<h1>Dog Profile</h1>
<p>&nbsp;</p>
<p>
 <%= image_tag @dog.avatar.url(:medium), class: "img-responsive" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @dog.birth_date %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.first_last %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet.name %>
</p>

<p>
  <strong>In daycare:</strong>
  <%= @dog.in_daycare %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-default btn-xs" %> 
<%= link_to 'Back to All Dogs', dogs_path, class: "btn btn-default btn-xs" %>  <%= link_to 'Create New Dog', new_dog_path, class: "btn btn-success btn-xs" %>
