<h1>Dog Profile</h1>
<p>&nbsp;</p>

<div class="row">
<div class="col-md-4">
  <p>
   <%= image_tag @dog.avatar.url(:medium), class: "img-responsive" %>
  </p>

  </div><!--closes col-md-4-->

  <div class="col-md-8">
    <h2> <%= @dog.name %> </h2>
    
    <%= link_to ' Edit', edit_dog_path(@dog), class: "btn btn-default btn-xs fa fa-pencil" %> 
    <%= link_to ' All Dogs', dogs_path, class: "btn btn-default btn-xs fa fa-th" %>
    <%= link_to " Owner", owner_path(@dog.owner_id), class: "btn btn-default btn-xs fa fa-user"  %>
    <%= link_to ' New Dog', new_dog_path, class: "btn btn-default btn-xs fa fa-plus" %>
    <%= link_to ' Delete', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs fa fa-trash" %>
<p>&nbsp;</p>
  <p>
    <strong>Breed:</strong>
    <%= @dog.breed.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @dog.birth_date.stamp_like('May 1, 2011') %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= link_to @dog.owner.first_last, owner_path(@dog.owner_id) %> (<%= @dog.owner.phone %>)
  </p>

  <p>
    <strong>Vet:</strong>
    <%= link_to @dog.vet.name, vet_path(@dog.vet_id) %> (<%= @dog.vet.phone %>)
  </p>

  <p>
    <strong>Check-in Status:</strong>
  <!-- Check in/out functionality -->
         <%= form_for(@dog, url: dog_path(@dog), :html => {class: "form-inline"}) do |f| %>
           <% if @dog .in_daycare %>
             <%= f.hidden_field :in_daycare, :value => false %>
             <%= f.submit "Checked In", class: "btn btn-success btn-xs" %>
           <% else %>
             <%= f.hidden_field :in_daycare, :value => true %>
             <%= f.submit "Checked Out", class: "btn btn-default btn-xs" %>
           <% end %>  <!-- if -->
         <% end %> <!-- do -->
         </p>

  </div>

</div><!--closes row-->

