<h1>Welome to the Storefront</h1>
<p>So, like buy some stuff, brah.</p>

<h2>All Items</h2>

<div class="row">
  <% @products.each do |x| %>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
        <p><a href="#" data-toggle="modal" data-target="#myModal_<%= x.id%>">
     <%= image_tag x.image.url(:medium), class: "img-responsive" %></a></p>
          <p><a href="#" data-toggle="modal" data-target="#myModal_<%= x.id%>"><span class="glyphicon glyphicon-plus"></span>
     Quick Info</a></p>
          <h4><%= x.name %></h4>
          <p><strong><%= number_to_currency x.price %></strong></p>

          <!-- TODO: add product rating capability
          <p>Made By: <%= x.brand %></p>
          <p>
         <%# <% x.rating.times do %>
            <span class="glyphicon glyphicon-star yellow"></span>
          <%#<% end %>
          </p> -->

        </div><!--panel-body-->
      </div><!--panel-->
    </div><!--col-sm-3-->
    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= x.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= x.name %></h4>
          </div>
          <div class="modal-body">
            <%= image_tag x.image.url(:medium), class: "img-responsive" %>
            <p><%= number_to_currency x.price %></p>
            <p><%= x.description %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- TODO: remove or change to save to cart
            <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div><!--row-->
