<p id="notice"><%= notice %></p>

<h1>Listing Vets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vets.each do |vet| %>
      <tr>
        <td><%= vet.name %></td>
        <td><%= vet.phone %></td>
        <td><%= link_to 'Show', vet, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_vet_path(vet), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', vet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vet', new_vet_path, class: "btn btn-success btn-xs" %>
