<h1>Veteran Vegetarian Veterinarians</h1>
<p>&nbsp;</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @vets.each do |vet| %>
      <tr>
        <td><%= vet.name %></td>
        <td><%= vet.phone %></td>
        <td><%= link_to ' ', vet, class: "fa fa-binoculars" %></td>
        <td><%= link_to ' ', edit_vet_path(vet), class: "fa fa-pencil" %></td>
        <td><%= link_to ' ', vet, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vet', new_vet_path, class: "btn btn-success btn-xs" %>
