<h1>Product Information</h1>
<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag @product.image.url(:medium), class: "img-responsive" %>
  </div><!--col-sm-4-->
  <div class="col-sm-8">
  <h2><%= @product.name %></h2>
  <p>by: <%= @product.brand %></p>

    <%= link_to ' Edit', edit_product_path(@product), class: "btn btn-default btn-xs fa fa-pencil" %> 
    <%= link_to ' All Products', products_path, class: "btn btn-default btn-xs fa fa-th" %>
    <%= link_to " Category", category_path(@product.category_id), class: "btn btn-default btn-xs fa fa-th-list"  %>
    <%= link_to ' New Product', new_product_path, class: "btn btn-default btn-xs fa fa-plus" %>

    <p>&nbsp;</p>

    <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
    </p>

    <p>
      <strong>Current Inventory:</strong>
      <%= @product.quantity %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @product.rating %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category.name %>
    </p>

  </div><!--col-sm-8-->
</div><!-- row -->






